kind: IngressRoute
apiVersion: traefik.containo.us/v1alpha1
metadata:
  name: pgadmin
  namespace: postgres
spec:
  entryPoints: 
    - web
  routes:
  - match: Host(`pgadmin{{ suffix }}.local.lan`) 
    kind: Rule
    services:
    - name: pgadmin
      port: 80