apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-data-pvc
  namespace: postgres
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ storageclassname }}
  resources:
    requests:
      storage: 10Gi
