apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: prometheus
  name: prometheus
  namespace: homelab-monitoring
spec:
  selector:
    matchLabels:
      app: prometheus
  replicas: 1
  retention: 2d
  resources:
    requests:
      memory: 400Mi
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
  serviceAccountName: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
      - image: prom/prometheus:{{ prom_ver }}
        name: prometheus
        ports:
        - containerPort: 9090
  storage:
    volumeClaimTemplate:
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: longhorn-homelab
        resources:
          requests:
            storage: 10Gi