apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: vmware-exporter
  name: vmware-exporter
  namespace: homelab-monitoring
spec:
  serviceAccountName: vmware-exporter
  selector:
    matchLabels:
      app: vmware-exporter
  replicas: 1
  template:
    metadata:
      labels:
        app: vmware-exporter
    spec:
      containers:
      - image: docker.io/pryorda/vmware_exporter:{{ vmware_exporter_ver}}
        name: vmware-exporter
        env:
        - name: VSPHERE_PASSWORD
          value: {{ vsphere_password }}
        - name: VSPHERE_USER
          value: {{ vsphere_user}}
        - name: VSPHERE_IGNORE_SSL
          value: "True"
        - name: VSPHERE_HOST
          value: vcsa.local.lan
        ports:
        - containerPort: 9272
