apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgadmin4
  labels: 
    app: pgadmin4
  namespace: postgres
spec:
  replicas: 1
  selector: 
    matchLabels:
      app: pgadmin4
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: pgadmin4
    spec:
      containers:
      - name: pgadmin4
        image: dpage/pgadmin4:{{ pgadmin4_ver }}
        # securityContext:
        #   runAsUser: 5050
        #   runAsGroup: 5050
        #   fsGroup: 5050
        #   fsGroupChangePolicy: "Always"
        env:
          - name: PGADMIN_DEFAULT_EMAIL
            value: edward.ingram23@gmail.com
          - name: PGADMIN_DEFAULT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secrets
                key: defaultpassword
                optional: false
        ports:
          - containerPort: 80
            name: web
        volumeMounts:
        - name: pgadmin4-config
          mountPath: /pgadmin4/servers.json
          subPath: servers.json
        - mountPath: /var/lib/pgadmin
          name: pgadmin4-data
      initContainers:
      - name: pgadmin-data-permission-fix
        image: busybox
        command: ["/bin/chown", "-R", "5050:5050", "/var/lib/pgadmin"]
        volumeMounts:
        - name: pgadmin4-data
          mountPath: /var/lib/pgadmin
      restartPolicy: Always
      volumes:
      - name: pgadmin4-data
        persistentVolumeClaim:
          claimName: pgadmin4-data-pvc
      - name: pgadmin4-config
        configMap:
          name: pgadmin4-config