apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres13
  labels: 
    app: postgres13
  namespace: postgres
spec:
  replicas: 1
  selector: 
    matchLabels:
      app: postgres13
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: postgres13
    spec:
      containers:
      - env:
        # - name: POSTGRES_DB
        #   value: mydb
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: homelab-secrets
              key: defaultpassword
              optional: false
        - name: POSTGRES_USER
          value: postgres
        image: postgres:{{ postgres13_ver }}
        name: postgres13
        # Readiness and Liveness Probe
        readinessProbe:
          exec:
            # command: ["psql", "-Umyuser", "-dmydb", "-c", "SELECT 1"]
            command: ["pg_isready", "-h", "localhost", "-p", "5432" ]
          initialDelaySeconds: 10
          timeoutSeconds: 10
        livenessProbe:
          exec:
            # command: ["psql", "-Umyuser", "-dmydb", "-c", "SELECT 1"]
            command: ["pg_isready", "-h", "localhost", "-p", "5432" ]
          initialDelaySeconds: 30
          timeoutSeconds: 10
        ports:
          - containerPort: 5432
            name: postgres13     
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres13-data
          subPath: postgres
      restartPolicy: Always
      volumes:
      - name: postgres13-data
        persistentVolumeClaim:
          claimName: postgres13-pvc
      
