apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ kubeconfig | json_query('clusters[0].cluster."certificate-authority-data"') }}
    server: https://{{ inventory_hostname }}:6443
  name: {{ ansible_hostname }}
contexts:
- context:
    cluster: {{ ansible_hostname }}
    user: default
  name: {{ ansible_hostname }}
current-context: {{ ansible_hostname }}
kind: Config
preferences: {}
users:
- name: default
  user:
    client-certificate-data: {{ kubeconfig | json_query('users[0].user."client-certificate-data"') }}
    client-key-data: {{ kubeconfig | json_query('users[0].user."client-key-data"') }}
