apiVersion: v1
stringData:
  admin.password: {{ lookup('hashi_vault', 'secret=secret/ssh/ansible:ssh_password_bcrypt') }}
  admin.passwordMtime: "$(date +%FT%T%Z)" 
kind: Secret
metadata:
  name: argocd-secret
type: Opaque