apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
- name: quay.io/argoproj/argocd
  newTag: {{ ver }}

namespace: argocd

resources:
- base/namespace.yaml
{{ '- base/ingressroute.yaml' if 'traefik' in base_components | default(omit) }}
{{ '- base/ingress.yaml' if 'ingress_nginx' in base_components | default(omit) }}
# - base/argocd-repo-server-rbac.yaml
# - base/argocd-vault-plugin-credentials.yaml
# - base/cmp-plugin.yaml
- https://raw.githubusercontent.com/argoproj/argo-cd/{{ ver }}/manifests/install.yaml


configMapGenerator:
- name: argocd-cmd-params-cm
  behavior: merge
  literals:
  - server.insecure=true

patches:
# - path: argocd-repo-server.yaml
- path: argocd-rbac-cm.yaml
- path: argocd-cm.yaml

