---
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: awx
  namespace: awx
  annotations:
    projectcontour.io/websocket-routes: "/websocket"
spec:
  virtualhost:
    fqdn: awx.local.lan
    tls:
      secretName: awx-tls
  routes:
    - services:
      - name: awx-service
        port: 80
    - conditions:
      - prefix: /websocket
      enableWebsockets: true
      services:
      - name: awx-service
        port: 80