---
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: awx
  namespace: awx
spec:
  virtualhost:
    fqdn: awx.local.lan
    tls:
      secretName: awx-tls
  routes:
    - services:
        - name: awx-service
          port: 80