apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-alertmanager
  namespace: monitoring
type: Opaque
stringData:
  alertmanager.yaml: |-
    route:
      group_by: ['job']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: 'email-alert'
    receivers:
    - name: 'email-aert'
      email_configs:
      - to: edward.ingram23@gmail.com
        from: alertmanager@ycdisp.net
        smarthost: smtp.gmail.com: 587
        auth_username: edward.ingram@ycdisp.com
        auth_identity: edward.ingram@ycdisp.com
        auth_password: "{{ lookup('hashi_vault', 'secret=secret/google/smtp:password') }}"