{
    "type": "service_account",
    "project_id": "proj-yc-srv1",
    "private_key_id": "b3de1e287c334bfa9526ba8599982b2612ec64f0",
    "private_key": "{{ lookup('hashi_vault','secret=secret/gcp/certmanager:key') }}",
    "client_email": "certmanager@proj-yc-srv1.iam.gserviceaccount.com",
    "client_id": "109001599213772380587",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/certmanager%40proj-yc-srv1.iam.gserviceaccount.com"
  }