---
kind: IngressRoute
apiVersion: traefik.containo.us/v1alpha1
metadata:
  name: calibre
  namespace: calibre
spec:
  entryPoints: 
    - web
  routes:
  - match: Host(`calibre{{ suffix }}.local.lan`) 
    kind: Rule
    services:
    - name: calibre
      port: 8080
  - match: Host(`calibre{{ suffix }}.local.lan`) && PathPrefix(`/admin`)
    kind: Rule
    services:
    - name: calibre
      port: 8081
    middlewares:
    - name: calibre-stripprefix  
  - match: Host(`calibre-web{{ suffix }}.local.lan`) 
    kind: Rule
    services:
    - name: calibre
      port: 8083