---
kind: IngressRoute
apiVersion: traefik.containo.us/v1alpha1
metadata:
  name: calibre-web
  namespace: calibre
spec:
  entryPoints: 
    - web
    - websecure
  routes:
  - match: Host(`calibre-web{{ suffix }}.local.lan`) 
    kind: Rule
    services:
    - name: calibre
      port: 8083
  tls:
    secretName: calibre-web-tls