---
kind: IngressRoute
apiVersion: traefik.containo.us/v1alpha1
metadata:
  name: calibre
  namespace: calibre
spec:
  entryPoints: 
    - web
  routes:
  - match: Host(`calibre{{env}}.local.lan`) 
    kind: Rule
    services:
    - name: calibre
      port: 8080
  - match: Host(`calibre-srv{{env}}.local.lan`) 
    kind: Rule
    services:
    - name: calibre
      port: 8081