apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: calibre{{ suffix }}-tls
  namespace: calibre
spec:
  secretName: calibre-tls
  issuerRef:
    kind: ClusterIssuer
    name: vault-cluster-issuer
  commonName: calibre{{ suffix }}.local.lan
  dnsNames:
  - calibre{{ suffix }}.local.lan