apiVersion: apps/v1
kind: Deployment
metadata:
  name: calibre
  namespace: calibre
  labels:
    app: calibre
spec:
  replicas: 1
  selector:
    matchLabels:
      app: calibre
  template:
    metadata:
      labels:
        app: calibre
    spec:
      containers:
        - name: calibre
          image: lscr.io/linuxserver/calibre:{{ calibre_ver }}
          env:
            - name: TZ
              value: "America/Los_Angeles"
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 8081
              protocol: TCP
          volumeMounts:
            - name: calibre-data
              mountPath: /config
        # - name: calibre-web
        #   image: lscr.io/linuxserver/calibre-web:{{ calibre_web_ver }}
        #   env:
        #     - name: TZ
        #       value: "America/Los_Angeles"            
        #     - name: PUID
        #       value: "1000"
        #     - name: PGID
        #       value: "1000"
        #     - name: DOCKER_MODS
        #       value: "linuxserver/mods:universal-calibre"
        #   ports:
        #     - containerPort: 8083
        #       protocol: TCP
        #   volumeMounts:
        #     - name: calibre-data
        #       mountPath: /config
        #     - name: calibre-books
        #       mountPath: /books
      # initContainers:
      #   - name: calibre-data-permission-fix
      #     image: busybox
      #     command: ["/bin/chown", "-R", "1000:1000", "/config", "/books"]
      #     volumeMounts:
      #     - name: calibre-data
      #       mountPath: /config
      #     - name: calibre-books
      #       mountPath: /books
      securityContext:
        fsGroup: 1000
        # runAsNonRoot: true
        # runAsUser: 1000
        # runAsGroup: 1000
      volumes:
        - name: calibre-data
          persistentVolumeClaim:
            claimName: calibre-data-pvc
        - name: calibre-books
          persistentVolumeClaim:
            claimName: calibre-books-pvc