apiVersion: networking.k8s.io/v1 
kind: Ingress
metadata:
  name: vault-ingress
  namespace: vault
  annotations:
    kubernetes.io/ingress.class: "traefik"
    traefik.ingress.kubernetes.io/router.tls: "true"
    ingress.kubernetes.io/rewrite-target: /ui
spec:
  tls:
  - host: vault{{ suffix }}.local.lan
    secretName: vault-server-tls
  rules:
  - host: vault{{ suffix }}.local.lan
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service: 
              name: vault
              port: 
                number: 8200