apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: vault{{ suffix }}-tls
  namespace: kube-system
spec:
  secretName: vault-tls
  issuerRef:
    kind: ClusterIssuer
    name: vault-cluster-issuer
  commonName: vault{{ suffix }}.local.lan
  dnsNames:
  - vault{{ suffix }}.local.lan
  duration: 8760h