---
kind: IngressRoute
apiVersion: traefik.containo.us/v1alpha1
metadata:
  name: vault
  namespace: vault
spec:
  entryPoints: 
    - web
    - websecure
  routes:
  - match: Host(`vault{{ suffix }}.local.lan`) 
    kind: Rule
    services:
    - name: vault-ui
      port: 8200
      serversTransport: vault
  tls:
    secretName: vault-server-tls