---
- name: Create a k8s namespace
  kubernetes.core.k8s:
    name: awx
    api_version: v1
    kind: Namespace
    state: present
    kubeconfig: "{{ kubeconfig }}"
     
# - name: Create admin password secret
#   kubernetes.core.k8s:
#     definition:
#       apiVersion: v1
#       kind: Secret
#       metadata:
#         name: awx-admin-password
#         namespace: awx
#       type: Opaque
#       stringData:
#         password: "{{ lookup('hashi_vault', 'secret=secret/git/ssh:key') }}"
#     kubeconfig: "{{ kubeconfig }}"

# - name: Create db encryption key secret
#   kubernetes.core.k8s:
#     definition:
#       apiVersion: v1
#       kind: Secret
#       metadata:
#         name: secret-key
#         namespace: awx
#       type: Opaque
#       stringData:
#         password: "{{ lookup('hashi_vault', 'secret=secret/git/ssh:key') }}"
#     kubeconfig: "{{ kubeconfig }}"

- name: Create db encryption secret key
  ansible.builtin.template:
    src: awx-secret-key.yaml.j2
    dest: "{{ dest }}awx-secret-key.yaml"
    mode: '0644'

- name: Create awx admin password secret key
  ansible.builtin.template:
    src: awx-admin-password.yaml.j2
    dest: "{{ dest }}awx-admin-password.yaml"
    mode: '0644'

- name: Deploy awx-secrets
  kubernetes.core.k8s:
    state: present
    src: "{{ dest }}{{ item }}"
    kubeconfig: "{{ kubeconfig }}"
  loop:
    - awx-secret-key.yaml
    - awx-admin-password.yaml

- name: Remove awx kustomize folder if already exists
  ansible.builtin.file:
    path: "{{ dest }}awx"
    state: absent

- name: Create awx kustomize folder
  ansible.builtin.file:
    path: "{{ dest }}awx"
    state: directory
    mode: '0755'

- name: Create kustomization.yaml file
  ansible.builtin.template:
    src: kustomization.yaml.j2
    dest: "{{ dest }}awx/kustomization.yaml"
    mode: '0644'

- name: Deploy awx operator
  ansible.builtin.shell: >
    kustomize build {{ dest }}awx/ | kubectl apply -f -

- name: Create awx.yaml file
  ansible.builtin.template:
    src: awx.yaml.j2
    dest: "{{ dest }}awx/awx.yaml"
    mode: '0644'

- name: Add awx resource to kustomization.yaml
  ansible.builtin.lineinfile:
    path: "{{ dest }}awx/kustomization.yaml"
    line: "  - awx.yaml"
    insertafter: "resources:"
    
- name: Deploy awx instance
  ansible.builtin.shell: >
    kustomize build {{ dest }}awx/ | kubectl apply -f -

- name: Create awx-ingress manifest
  ansible.builtin.template:
    src: awx-ingressroute.yaml.j2
    dest: "{{ dest }}awx-ingressroute.yaml"
    mode: '0644'

- name: Deploy awx-ingress
  kubernetes.core.k8s:
    state: present
    src: "{{ dest }}{{ item }}"
    kubeconfig: "{{ kubeconfig }}"
  loop:
    - awx-ingress.yaml
    