image:
  pullPolicy: IfNotPresent

service:
  https:
    port: 443
    annotations:
      metallb.universe.tf/allow-shared-ip: gitea
    type: LoadBalancer
  ssh:
    annotations:
      metallb.universe.tf/allow-shared-ip: gitea
    type: LoadBalancer

memcached:
  enabled: true

persistence:
  enabled: true
  size: 10Gi
  storageClass: longhorn-homelab

postgresql:
  enabled: true

gitea:
  additionalConfigFromEnvs:
    - name: ENV_TO_INI__DATABASE__PASSWD
      valueFrom:
        secretKeyRef:
          name: gitea-postgres-secret
          key: password
  config:
    server:
      DOMAIN: gitea{{ suffix }}.local.lan
      PROTOCOL: https
      CERT_FILE: /certs/tls.crt
      KEY_FILE: /certs/tls.key
    # database:
    #   DB_TYPE: postgres
    #   HOST: postgres13.postgres.svc.cluster.local:5432
    #   NAME: gitea
    #   USER: gitea
  admin:
    existingSecret: gitea-admin-secret
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  livenessProbe:
    tcpSocket:
      port: http
    initialDelaySeconds: 200
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10
  readinessProbe:
    tcpSocket:
      port: http
    initialDelaySeconds: 5
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 3
extraVolumes:
- name: gitea-tls
  secret:
    secretName: gitea-tls
extraVolumeMounts:
- name: gitea-tls
  readOnly: true
  mountPath: /certs
