---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-postgres-secret
  namespace: gitea
stringData:
  DB_TYPE: postgres
  HOST: postgres13.postgres.svc.cluster.local:5432
  NAME: gitea
  USER: edward.ingram23@gmail.com
  PASSWD: {{ lookup('hashi_vault', 'secret=secret/ssh/eingram:ssh_password') }}
  SCHEMA: gitea
