---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-admin-secret
  namespace: gitea
stringData:
  username: eingram
  password: {{ lookup('hashi_vault', 'secret=secret/ssh/eingram:ssh_password') }}