---
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: gitea-http
  namespace: gitea
spec:
  virtualhost:
    fqdn: gitea.{{ app_domain }}
    tls:
      secretName: gitea-tls
  routes:
    - services:
        - name: gitea-http
          port: 3000