image:
  pullPolicy: IfNotPresent

service:
  http:
    port: 6443
    type: ClusterIP
  ssh:
    port: 2222
    type: LoadBalancer

memcached:
  enabled: true

persistence:
  enabled: true
  size: 10Gi
  storageClass: {{ storageclass }}

resources:
  requests:
    memory: 500Mi
    cpu: 100m
  limits:
    memory: 1Gi
    cpu: 1000m

postgresql:
  enabled: true
  persistence:
    enabled: true
    size: 10Gi
    storageClass: {{ storageclass }}

gitea:
  # additionalConfigFromEnvs:
  #   - name: ENV_TO_INI__DATABASE__PASSWD
  #     valueFrom:
  #       secretKeyRef:
  #         name: gitea-postgresql
  #         key: postgres-password
  config:
    server:
      DOMAIN: gitea{{ suffix }}.{{ app_domain }}
      # PROTOCOL: https
      # CERT_FILE: /certs/tls.crt
      # KEY_FILE: /certs/tls.key
    # database:
    #   DB_TYPE: postgres
    #   HOST: postgres13.postgres.svc.cluster.local:5432
    #   NAME: gitea
    #   USER: gitea
  admin:
    existingSecret: gitea-admin-secret
    email: "edward.ingram23@gmail.com"
  metrics:
    enabled: false
  #   serviceMonitor:
  #     enabled: true
  # config:
  #   server:
  #     ENABLE_PPROF: true
  livenessProbe:
    tcpSocket:
      port: http
    initialDelaySeconds: 200
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10
  readinessProbe:
    tcpSocket:
      port: http
    initialDelaySeconds: 5
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 3
# extraVolumes:
# - name: gitea-tls
#   secret:
#     secretName: gitea-tls
# extraVolumeMounts:
# - name: gitea-tls
#   readOnly: true
#   mountPath: /certs
