---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: awx
spec:
  admin_user: admin
  admin_email: edward.ingram23@gmail.com
  admin_password_secret: awx-admin-password
  service_type: ClusterIP
  # default nodeport_port is 30080
  # nodeport_port: <nodeport_port>
  secret_key_secret: awx-secret-key
  postgres_storage_class: {{ storageclass }}
  postgres_extra_args:
    - '-c'
    - 'max_connections=1000'
  redis_capabilities:
    - CHOWN
    - SETUID
    - SETGID
  task_privileged: true
  bundle_cacert_secret: homelab-bundleca-tls