---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: awx
spec:
  admin_user: admin
  admin_email: edward.ingram23@gmail.com
  admin_password_secret: awx-admin-password
  service_type: ClusterIP
  # default nodeport_port is 30080
  # nodeport_port: <nodeport_port>
  secret_key_secret: awx-secret-key
  replicas: 1
  postgres_resource_requirements:
    requests:
      cpu: 10m
      memory: 64Mi
  postgres_init_container_resource_requirements:
    requests:
      cpu: 10m
      memory: 64Mi
  postgres_storage_requirements:
    requests:
      storage: 8Gi
    limits:
      storage: 50Gi
  postgres_storage_class: {{ storageclass }}
  postgres_extra_args:
    - '-c'
    - 'max_connections=1000'
  _image: quay.io/ansible/awx
  _image_version: "{{ lookup('env', 'DEFAULT_AWX_VERSION') or 'latest' }}"
  _redis_image: docker.io/redis
  _redis_image_version: 7
  _postgres_image: postgres
  _postgres_image_version: 13
  image_pull_policy: IfNotPresent
  image_pull_secrets: []
  ee_images:
    - name: AWX EE (latest)
      image: quay.io/ansible/awx-ee:latest
    # - name: homelab-awx-ee-v1
    #   image: gitea{{ suffix }}.ycdisp.net/eingram/homelab-awx-ee-v1
  task_resource_requirements:
    requests:
      cpu: 100m
      memory: 128Mi
  web_resource_requirements:
    requests:
      cpu: 100m
      memory: 128Mi
  ee_resource_requirements:
    requests:
      cpu: 100m
      memory: 64Mi
  redis_resource_requirements:
    requests:
      cpu: 50m
      memory: 64Mi
  rsyslog_resource_requirements:
    requests:
      cpu: 100m
      memory: 128Mi
  init_container_resource_requirements:
    requests:
      cpu: 100m
      memory: 128Mi
  redis_capabilities:
    - CHOWN
    - SETUID
    - SETGID
  task_privileged: true
  bundle_cacert_secret: homelab-bundleca-tls