apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: traefik{{ suffix }}-local-lan
  namespace: vault
spec:
  secretName: traefik{{ suffix }}-local-lan-tls
  issuerRef:
    name: vault-issuer
  commonName: traefik{{ suffix }}.local.lan
  dnsNames:
  - traefik{{ suffix }}.local.lan

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: traefik-dev.local.lan
  namespace: kube-system
spec:
  secretName: traefik-dev.local.lan
  issuerRef:
    name: vault-issuer
  commonName: traefik-dev.local.lan
  dnsNames:
  - traefik-dev.local.lan