apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: traefik-tls
  namespace: kube-system
spec:
  secretName: traefik-tls
  issuerRef:
    kind: ClusterIssuer
    name: vault-cluster-issuer
  commonName: traefik{{ suffix }}.local.lan
  dnsNames:
  - traefik{{ suffix }}.local.lan
  duration: 8760h