---
kind: IngressRoute
apiVersion: traefik.containo.us/v1alpha1
metadata:
  name: splunk-web
  namespace: splunk
spec:
  entryPoints: 
    - web
    - websecure
  routes:
  - match: Host(`splunk{{ suffix }}.local.lan`) 
    kind: Rule
    services:
    - name: splunk-stdln-standalone-service
      port: 8000
  tls:
    secretName: splunk-web-tls