---
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: vmware-exporter
  namespace: monitoring
spec:
  virtualhost:
    fqdn: vmware-exporter{{ suffix }}.local.lan
  routes:
    - conditions:
      - prefix: /
      services:
      - name: vmware-exporter
        port: 9272