apiVersion: v1
kind: Secret
metadata:
  name: graf-datasource-cm-influx
  namespace: monitoring
  labels:
    grafana_datasource: "1"
type: Opaque
stringData:
  datasource-influx.yaml: |-
    apiVersion: 1
    datasources:
      - name: Influxdb
        type: influxdb
        url: http://homeassistant.local.lan:8086
        access: proxy
        user: grafana
        secureJsonData:
          password: {{ lookup('hashi_vault', 'secret=secret/ssh/eingram:ssh_password') }}
        database: grafana
        editable: true
        uid: influx